.text-editor .DraftEditor-root {
  border: 1px solid #000;
  /* This will add a black border */
  padding: 10px;
  /* This will add some spacing inside the border */
  min-height: 400px;
  /* This will ensure that the editor has a minimum height */
}

.public-DraftEditorPlaceholder-root {
  position: absolute;
  color: #888;
  pointer-events: none;
  z-index: -1;
}

.public-DraftEditorPlaceholder-hasFocus {
  display: none;
}

button {
  
  float: right;
  margin: 5px;
}